{%extends 'base.html'%}
{%block content%}

<style type="text/css">
	.manager{
		padding: 1%;
		margin: 0;
	}
	.manager table{
		width:100%;
		text-align: center;
	}
	.manager th{
		text-align: center;
	}
	.manager hr{
		border: #2f4154 solid;
	}
	.manager .editbtn{
		margin:2px;
	}
	.mbtn{
		color:#eff0f2;
		background-color: #2f4154;
	}
	.filter span{
		padding-left: 2%;		
	}
	.mia{
		color:yellow;
		font-size: 50px;
	}
	.btn:active{
		color:#48c9b0;
		font-size: 20px;
	}
	.mactive{
		color:#48c9b0;
		font-size: 20px;
	}
	.v{
		color: #2ECC71;
	}

	.r{
		color: #E74C3C;
	}
	.a{
		color: #F1C40F;
	}
	.mcat{
		margin: 0;
	}
	.mcat .col-xs-4{
		padding: 5px;
	}
	.manager .tile .btn{
		padding: 10px 10px;
	}
	.manager .tile{
		padding: 0;
	}
	.monactive{
		color :#48c9b0;
		font-size: 2.5rem;
	}

</style>

	<section class="manager">
		<div class="row demo-tiles">
			<div class="col-lg-8">
				<div>
					<div class="input-group">
						<input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
						<span class="input-group-btn">
							<button type="submit" class="btn"><span class="fui-search"></span></button>
						</span>
					</div><br>
					<div class="panel">
						<table>
							<thead><h3 align="center">Todos los Proyectos</h3></thead>
							<tbody>
								<tr>
									<th>ID</th>
									<th>Nombre</th>
									<th>Usuario</th>
									<th>Meta</th>
									<th>Categoría</th>
									<th>Status</th>
									<th>Detalles</th>
								</tr>
								{%for p in projects%}
						
								<tr>
									<td>{{p.id}}</td>
									<td>{{p.name}}</td>
									<td>{{p.user}}</td>
									<td>${{p.goal}}</td>
									<td class="mactive">{{p.tags.all|join:", "}}</td>
									<!--STATUS-->
									{%if p.status == "APROBADO"%}<td> <i class="fa fa-check-circle v" aria-hidden="true"></i> </td>{%endif%}
									{%if p.status == "RECHAZADO"%}<td> <i class="fa fa-times-circle r" aria-hidden="true"></i> </td>{%endif%}
									{%if p.status == "REVISION"%}<td> <i class="fa fa-exclamation-circle a" aria-hidden="true"></i> </td>{%endif%}
									<!--STATUS-->
									<td><a class="btn btn-primary editbtn" href="{%url 'manager:detail' p.id%}">Editar</a></td>
								</tr>
								{%endfor%}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				
				<div class="tile filter">
					<h3 class="mcat">Categorias:</h3>

					<h4><a class="btn btn-block btn-lg mbtn " href="{%url 'manager:cat' 'tecnologia'%}"><i class="fa fa-cogs" aria-hidden="true"></i><span>Tecnología</span></a></h4>

					<h4><a class="btn btn-block btn-lg mbtn" href="{%url 'manager:cat' 'comunidad'%}"><i class="fa fa-users" aria-hidden="true"></i><span>Comunidad</span></a></h4>

					<h4><a class="btn btn-block btn-lg mbtn" href="{%url 'manager:cat' 'medio-ambiente'%}"> <i class="fa fa-pagelines" aria-hidden="true"></i><span>Medio Ambiente</span></a></h4>

					<h4><a class="btn btn-block btn-lg mbtn" href="{%url 'manager:cat' 'arte'%}"><i class="fa fa-paint-brush" aria-hidden="true"></i><span>Arte</span></a></h4>

					<h4><a class="btn btn-block btn-lg mbtn" href="{%url 'manager:cat' 'diseno'%}"><i class="fa fa-ravelry" aria-hidden="true"></i><span>Diseño</span></a></h4>

					<h4><a class="btn btn-block btn-lg mbtn" href="{%url 'manager:cat' 'educacion'%}"><i class="fa fa-graduation-cap" aria-hidden="true"></i><span>Educación</span></a></h4>
					
					<h4><a class="btn btn-block btn-lg mbtn" href="/manager"><i class="fa fa-tasks" aria-hidden="true"></i><span>Todos</span></a></h4>
					<hr class="mcat">
					<div class="row mcat">
						<div class="col-xs-4">
							<h4><a class="btn btn-block btn-lg btn-inverse" href="{%url 'manager:stat' 'APROBADO'%}"><i class="fa fa-check-circle" aria-hidden="true"></i><br><span>Aprobados</span></a></h4>
						</div>
						<div class="col-xs-4">
							<h4><a class="btn btn-block btn-lg btn-inverse" href="{%url 'manager:stat' 'REVISION'%}"><i class="fa fa-exclamation-circle" aria-hidden="true"></i><br><span>Revisión</span></a></h4>
						</div>
						<div class="col-xs-4">
							<h4><a class="btn btn-block btn-lg btn-inverse" href="{%url 'manager:stat' 'RECHAZADO'%}"><i class="fa fa-times-circle" aria-hidden="true"></i><br><span>Rechazados</span></a></h4>
						</div>
					</div>


				</div>
			</div>
		</div>
	</section>	

		
	

{%endblock content%}