{%extends 'base.html'%}


{%block content%}

<section class="centrado">

	<article class="row">



			{%include 'dashboard/saul.html'%}



		<div class="col-md-6 col-md-offset-1">


				<form class="row panel panel-default" action="" method="post" enctype="multipart/form-data">
				{%csrf_token%}
					<div class="col-md-6 col-md-offset-3 panel-body">

					<div class="row">
					<h4 class="col-md-12">
						¿Qué buena nueva tienes para contar?
					</h4>
					<input name="title" required placeholder="¡Ya tenemos página web!" class="form-control input-hg col-md-12" type="text">
					</div>

					<div class="row">
					<h4 class="col-md-12">
						¡Cuentanos!
					</h4>
					<div class="input-group">
					  <span class="input-group-addon">$</span>
					  <textarea name="body" class="form-control"></textarea>
					</div>
					</div>

					<br>
					<input class="btn btn-hg btn-success" type="submit" value="Publicar">

					</div> <!-- offset-->

			</form>




		</div>




		<div style="margin-top:50px" class="col-md-6 col-md-offset-1">
			{%for a in project.updates.all%}
		<div class='row'>
			<div class='col-lg-2 col-md-2 col-sm-4 col-xs-4 date_act vertical-center'>
				<span>hace {{a.created|timesince}}</span>
			</div>
			<div class='col-lg-10 col-md-8 col-sm-8 col-xs-8 border_cuer detail_act '>
				<div class='detail_collapse'>
    				<h6 class='detail_header'>
    					{{a.title}}
    					<a data-target='{{a.id}}' href="#!"><i class="fa fa-arrow-down" aria-hidden="true"></i>	</a>
    				</h6>
    				<p id='{{a.id}}' class='detail_cuerpo'>
    					{{a.body}}
    				</p>
    				</div>
    			</div>
    		</div>
    		{%empty%}
	    		<div class="perro col-sm-8 centrado">
				 <a href="#!" class="list-group-item list-group-item-danger">aún no tienes actualizaciones</a>
				</div>
    		{%endfor%}


    		</div>


	</article>
</section>




<script>
	$('.detail_collapse a').click(function(){
		var oculto = $(this).data('target');
		$('.detail_cuerpo#'+oculto).slideToggle();
	});
</script>


{%endblock content%}




