{%extends 'base.html'%}
{%load dash_tags%}

{%block content%}
{%count_projects as nums %}

<section class="contendor centrado">

	<h3 class="demo-panel-title">{{project}} / {{section}}</h3>

	<article class="row">

{%include 'dashboard/saul.html'%}

		<div class="col-md-6 col-md-offset-1">


				<form id="nuevo" class="row panel panel-default" action="." method="post">
				{%csrf_token%}
					<div class="col-md-6 col-md-offset-3 panel-body">

					<div class="row">
					<h4 class="col-md-12">
						¿Cómo se llama tu proyecto?
					</h4>
					<input {%if project.publish%}disabled{%endif%} value="{{project.name}}" name="name" required placeholder="Mi fabuloso proyecto" class="form-control input-hg col-md-12" type="text">
					</div>

					<div class="row">
					<h4 class="col-md-12">
						¿Cuanto dinero necesitas?
					</h4>
					<div class="input-group">
					  <span class="input-group-addon">$</span>
					  <input {%if project.publish%}disabled{%endif%}  value="{{project.goal}}" name="goal" required type="number" class="form-control input-hg" placeholder="200000" />
					</div>
					</div>

					<div class="row">
					<h4 class="col-md-12">
						¿En que categoría encaja?
					</h4>

						<select name="tags" class="form-control select select-danger select-block mbl">
						  <optgroup label="Categorias">
						  	{%for c in cats%}
						    <option {%if project.tags.all.0.name == c.name%} selected {%endif%} value="{{c.name}}">
						    	{{c.name}}
						    </option>
						    {%endfor%}
						  </optgroup>
						</select>

					</div>

					<br>
					<input {%if project.publish%}disabled{%endif%}  class="btn btn-hg btn-success" type="submit" value="Guardar">

					</div> <!-- offset-->

			</form>




		</div>
	</article>



</section>



<script>
	$("select").select2({dropdownCssClass: 'dropdown-inverse'});
</script>

{%endblock content%}
