{%extends 'base.html'%}
{%load static%}

{%block content%}

<section class="portada">

	<div id="avatar">
		{%if not request.user.profile.img%}
		<img class="img_perfil redonda" width="200" src="https://cdn3.iconfinder.com/data/icons/rcons-user-action/32/girl-512.png" data-toggle="tooltip" title="Subir nueva imagen">
		{%else%}
		<img class="img_perfil redonda" width="200" src="{{request.user.profile.img.url}}" data-toggle="tooltip" title="Subir nueva imagen">
		{%endif%}
	</div>

	<h3 id="name">{{request.user.get_full_name}}</h3>
 
</section>	
  <nav class="navbar navbar-inverse" role="navigation">
  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <ul class="nav navbar-nav espacio-left">
      <li id="muro" class="active">
      	<a  href="#fakelink">Tu muro</a></li>
      <li id="projects" >
      	<a href="#fakelink">Tus proyectos</a></li>
      <li id="aportaciones" >
      	<a href="#fakelink">Tus aportaciones</a></li>
      
    </ul>
   
  </div><!-- /.navbar-collapse -->
</nav><!-- /navbar -->

<section class="contenedor">
	<article class="row">

		<div class="panel col-sm-4">
		<div class="panel-header">
			<h5>Tu información</h5>
		</div>
		<div class="panel-body">
			<p>
				<i class="fa fa-align-center" aria-hidden="true"></i>
				Fundador en Firebase México
			</p>
			<p>
				<i class="fa fa-address-card" aria-hidden="true"></i>
				CTO en Fixter
			</p>
			<p>
				<i class="fa fa-graduation-cap" aria-hidden="true"></i>
				Estudió Back End Development en Dev.F
			</p>
			<p>
				<i class="fa fa-wifi" aria-hidden="true"></i>
				Tiene 108 seguidores
			</p>
		</div>
		</div>



		<div class="muro col-sm-8">
			<div class="list-group">

			<div class="panel-body">
				
				  	<a href="{{a.get_absolute_url}}" class="list-group-item">

				  		<img width="80" src="{{request.user.profile.img.url}}">
				  		<span>Bliss publico un post</span>
				  		<span>"Todo un reto"</span>
				  		<p class="mini">
				  			{%with p=request.user.projects.last%}
				  			hace {{p.date|timesince}}
				  			{%endwith%}
				  		</p>
				  		<p style="border-left:solid 3px green;">
				  			<h6>Todo un reto</h6>
				  			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				  			tempor incididunt ut labore et dolore magna aliqua...</p>
				  		</p>


				  	</a>
				
			</div>


			<div class="panel-body">
				  	<a href="{{a.get_absolute_url}}" class="list-group-item">

				  		<img width="80" src="{{request.user.profile.img.url}}">
				  		<span>Bliss publico un post</span>
				  		<span>"Todo un reto"</span>
				  		<p class="mini">
				  			{%with p=request.user.projects.last%}
				  			hace {{p.date|timesince}}
				  			{%endwith%}
				  		</p>
				  		<p style="border-left:solid 3px green;">
				  			<h6>Todo un reto</h6>
				  			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				  			tempor incididunt ut labore et dolore magna aliqua...</p>
				  		</p>


				  	</a>
			</div>



		</div> <!-- list-->
	</div> <!-- muro-->



		<div class="proyectos col-sm-8">
		<h4>Tus proyectos:</h4>

			<div class="panel-body">
				<div class="list-group">
				  	{%for p in request.user.projects.all%}
				  	<a href="{{p.get_absolute_url}}" class="list-group-item">
					    <h6 class="list-group-item-heading">{{p.name}}</h6>
					    <div class="progress">
						  <div class="progress-bar progress-bar-success" style="width: 10%;"></div>		 
						</div>
					</a>
					    {%empty%}
					    <a href="{%url 'projects:new'%}" class="list-group-item list-group-item-danger">aún no haz publicado proyectos</a>

				    {%endfor%}
				  
				</div>

			</div>
		</div>









		<div class="perro">
			<h2>akese perro!</h2>
		</div>


	</article>

	


</section>













































<section class="contendor centrado">












</section>




<script type="text/javascript">

  function readURL(input) {



    if (input.files && input.files[0]) {
        var reader = new FileReader();


        reader.onload = function (e) {
            $('.img_perfil').attr('src', e.target.result);
            // Extra para actualizar la img
            $('#imagen').submit();

        }

        reader.readAsDataURL(input.files[0]);
    }
}

  function readVideo() {

    $('#vidPrev').attr('src',$('#vid').val());
    
    }


// $("#file").change(function(){
//     readURL(this);
// });

// $('#vid').change(function(){

//     readVideo();
// })


$('img').on('click',function(){
	$('#file').click();

});
$("#file").change(function(){

    readURL(this);
    

});

</script>

<script>
//ocultamos lo demas
$('.proyectos').hide();
$('.muro').show();
$('.perro').hide();
// interactividad de los botones 
$('li').on('click', function(){
	$(this).addClass('active');
	$(this).siblings().removeClass('active');
	if ($(this).attr('id') == 'muro'){
		$('.proyectos').hide();
		$('.muro').show();
		$('.perro').hide();
	} else if($(this).attr('id') == 'projects'){
		$('.proyectos').show();
		$('.muro').hide();
		$('.perro').hide();
	} else if($(this).attr('id') == 'aportaciones'){
		$('.proyectos').hide();
		$('.muro').hide();
		$('.perro').show();
	}
});
</script>

{%endblock content%}